html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header-div {
	overflow: hidden;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  color: #fff;
  margin: 1rem 0 0 3rem;
  text-align: center;
  padding: .5em;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: .5em 0 0 0;

}

ul {
  margin: 0;
}

li {
  text-decoration: none;
  list-style-type:none;
}

nav  {
  background-color: #D05C2E;
  display: inline-block;
}

nav ol{
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	display: block;
}

div {
  background-color: #DC8252;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  color: #fff;
}

.inset {
  float: left;
  width: 50%;
}

.inset1 {
  float: right;
  width: 50%;
}



.clear-it {
  clear: left;
}

.clear-it1 {
  clear: right;
}
footer {
  background-color: #D05C2E;
  padding: .5em 0 .5em 0;
  text-align: center;
}

.grains {
  float: left;
  width: 40%;
}

.cereal {
  float: right;
  width: 40%;
}

.quinoa {
  float: right;
  width: 40%;
}

.fig-rice {
  float: left;
}

.fig-oats {
  float: right;
}
