html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  color: #fff;
  background-color: orange;
  margin: 0px;
  text-align: center;

}

h2 {

}
